body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.image-gallery {
    display: flex;
    justify-content: center; /* Keep images centered */
    align-items: center;
    background-color: #dedede; /* Whitish grey background */
    padding: 10px; /* Reduce padding */
    width: auto; /* Reduce width */
    max-width: auto; /* Set a max width */
    margin: auto; /* Center the div */
    box-sizing: border-box;
}

.image-gallery img {
    max-width: 150px; /* Reduce image width */
    height: auto;
    flex: none; /* Prevent excessive stretching */
    margin: 0 5px; /* Reduce margin */
}