@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif; /* Apply the desired font globally */
    background-color: #ffffff; /* Optional: Set a default background color */
    color: #383838; /* Optional: Set a default text color */
}